[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = git@github.com:atomicmilkshake/llama-cpp-turboquant.git
	branch = feature/turboquant-kv-cache

[submodule "third_party/OpenCL-ICD-Loader"]
	path = third_party/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader
[submodule "third_party/OpenCL-Headers"]
	path = third_party/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
